<form [formGroup]="formLogin">
  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="text" name="" id="email" class="form-control" placeholder="" aria-describedby="helpId">
  <p *ngIf="formLogin.controls.email.touched && formLogin.controls.email?.errors?.required">Bắt buộc phải nhập</p>
  <p *ngIf="formLogin.controls.email.touched && formLogin.controls.email?.errors?.email">không đúng định dạng</p>
  </div>

  <div class="form-group">
    <label for="password">password</label>
    <input formControlName="password" type="password" name="" id="password" class="form-control" placeholder="" aria-describedby="helpId">
    <p *ngIf="formLogin.controls.password.touched && formLogin.controls.password?.errors?.required">Bắt buộc phải nhập</p>
    <p *ngIf="formLogin.controls.password.touched && formLogin.controls.password?.errors?.minLength">mật khẩu nhỏ nhất là 6 ký tự</p>
  </div>


  <button [disabled]="formLogin.invalid"  type="submit" class="btn btn-primary">login</button>
</form>
