<app-header></app-header>
<app-navbar></app-navbar>
<div>
  <button class="btn btn-primary">create new Customer</button>
</div>
<table style="text-align: center" class="table table-striped-columns">
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>DATE OF BIRTH</th>
    <th>GENDER</th>
    <th> ID CARD</th>
    <th> PHONE NUMBER</th>
    <th>EMAIL</th>
    <th>ADDRESS</th>
    <th>TYPE_ID</th>
    <th>EDIT</th>
    <th>DELETE</th>
    <th>VIEW</th>
  </tr>
  <tr>
    <td>1</td>
    <td>phan văn hùng</td>
    <td>17/07/1995</td>
    <td>nam</td>
    <td>187541711</td>
    <td>0921093190</td>
    <td>phanvanhung1224@gmail.com</td>
    <td>thanh chương, nghệ an</td>
    <td>vip</td>
    <td>
      <button class="btn btn-outline-primary">
        <a style="color: red; text-decoration: none">Edit</a>
      </button>
    </td>
    <td>
      <button class="btn btn-outline-primary ">
        <a style="color: red; text-decoration: none">Delete</a>
      </button>
    </td>
    <td>
      <button class="btn btn-outline-primary">
        <a style="color: red; text-decoration: none">View</a>
      </button>
    </td>
  </tr>
</table>
<app-footer></app-footer>
