<app-header></app-header>
<app-navbar></app-navbar>
<div>
  <button class="btn btn-primary">create new Customer</button>
</div>
<table style="text-align: center" class="table table-striped-columns">
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>DATE OF BIRTH</th>
    <th>GENDER</th>
    <th> ID CARD</th>
    <th> PHONE NUMBER</th>
    <th>EMAIL</th>
    <th>ADDRESS</th>
    <th>TYPE_ID</th>
    <th>EDIT</th>
    <th>DELETE</th>
    <th>VIEW</th>
  </tr>
  <tr *ngFor="let customer of customers; index as i">
    <td>{{i+1}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.dateOfBirth}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.type}}</td>

    <td>
      <button class="btn btn-outline-primary">
        <a style="color: red; text-decoration: none">Edit</a>
      </button>
    </td>
    <td>
      <button class="btn btn-outline-primary ">
        <a style="color: red; text-decoration: none">Delete</a>
      </button>
    </td>
    <td>
      <button class="btn btn-outline-primary">
        <a style="color: red; text-decoration: none">View</a>
      </button>
    </td>
  </tr>
</table>
<app-footer></app-footer>
