<app-header>
</app-header>
<app-navbar></app-navbar>

<section class="get-in-touch">
  <h1 class="title">FORM EDIT CUSTOMER</h1>
  <form class="contact-form row">

    <div class="form-field col-lg-6">
      <input id="name" class="input-text js-input" type="text" required>
      <label class="label" for="name">Name</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="email" class="input-text js-input" type="text" required>
      <label class="label" for="email">Ngày Sinh</label>
    </div>
    <div class=" col-lg-6" style="font-size: 30px;padding-top: 10px;color: cornflowerblue">
      <label>Giới tính : </label>
      <input  type="radio"> Nam
      <input   type="radio"> Nữ
    </div>
    <div class="form-field col-lg-6 ">
      <input id="phone" class="input-text js-input" type="text" required>
      <label class="label" for="phone">Id Card </label>
    </div>
    <div class="form-field col-lg-6 ">
      <input class="input-text js-input" type="text" required>
      <label class="label" for="phone">phone Number </label>
    </div>
    <div class="form-field col-lg-6 " >
      <input class="input-text js-input" type="text" required>
      <label class="label" for="phone">Email </label>
    </div>
    <div class="form-field col-lg-6 " >
      <input class="input-text js-input" type="text" required>
      <label class="label" for="phone">Address </label>
    </div>
    <div class="form-field col-lg-6 " i>
      <input class="input-text js-input" type="text" required>
      <label class="label" for="phone">Type Customer </label>
    </div>


    <div class="form-field col-lg-12" style="text-align: center">
      <input class="submit-btn" type="submit" value="save">
    </div>
  </form>
</section>

<app-footer></app-footer>
