<h2 class="center background">Create Contract</h2>

<form class="img">
  <fieldset>
    <legend></legend>
    <input hidden>
    <div class="mb-3" style="padding-left: 40%">
      <label class="form-label">Ngày Bắt Đầu :</label>
      <input style="width: 50%" type="date" class="form-control"
             placeholder="input">
    </div>

    <div class="mb-3" style="padding-left: 40%">
      <label class="form-label">Ngày Kết Thúc :</label>
      <input style="width: 50%" type="date" class="form-control" placeholder="input">
    </div>

    <div class="mb-3" style="padding-left: 40%">
      <label class="form-label">Tiền Đặt Cọc :</label>
      <input style="width: 50%" type="text" class="form-control"
             placeholder="Disabled input">
    </div>

    <div class="mb-3" style="padding-left: 40%">
      <label class="form-label"> tổng tiền :</label>
      <input style="width: 50%" type="text" class="form-control" placeholder="Disabled input">
    </div>

    <div class="mb-3" style="padding-left: 40%">
      <label class="form-label">Khách hàng thuê dịch vụ : </label>
      <input style="width: 50%" type="text" class="form-control" placeholder="Disabled input">
    </div>

    <div class="mb-3" style="padding-left: 40%">
      <label for="disabledSelect" class="form-label">chọn dịch vụ :</label>
      <select style="width: 50%" id="disabledSelect" class="form-select">
        <option>11111</option>
      </select>
    </div>
    <label style="padding-left: 40%" class="form-control form-control-lg" type="text"
           aria-label=".form-control-lg example"> Dịch Vụ Đính
      Kèm :
      <button type="button" class="btn btn-primary" onclick="addAttach()" data-bs-toggle="modal"
              data-bs-target="#addDetail">+
      </button>
    </label><br>
    <div style="text-align: center">
      <button class="btn btn-primary btn-lg"><a style="color: white"
                                                href="/contract/create">Hủy Bỏ</a>
      </button>
      <button type="submit" class="btn btn-primary btn-lg">Tạo Hợp Đồng</button>
    </div>
  </fieldset>
</form>

<!--modal dịch thêm dịch vụ đi kèm-->

<div class="modal" tabindex="-1" id="addDetail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm dịch vụ đi kèm <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div></div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Dịch Vụ</label>
            <div class="col-sm-10">
              <select class="form-control">
                <option></option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Số Lượng</label>
            <input type="hidden"  id="contractIdAdd">
            <div class="col-sm-10">
              <input type="number" id="quantityAdd" class="form-control" >
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
