<h1>Xoá sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="deleteProduct(id)">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input value="{{product.id}}" readonly type="number"  formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input  value="{{product.name}}" readonly type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input value="{{product.price}}" readonly  type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input value="{{product.description}}" readonly  type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>loại sản phẩm</td>
      <td><input value="{{product.category.name}}" readonly  type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Xoá</button></td>
    </tr>
  </table>
</form>
